#navbar {
  background-color: aquamarine;
}

.navbar__grid {
  max-width: 1000px;
  padding: 5px 0px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.navbar__links {
  text-align: right;
  padding: 10px;
}

#logo__text {
  font-size: 1.8rem;
  font-weight: bold;
}

#navbar__link {
  margin-left: 10px;
  transition: 0.2s ease-in;
}

#navbar__btn {
  padding: 10px 15px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.1s ease-in;
}

#navbar__btn:hover {
  transform: scale(1.03);
  background-color: blueviolet;
  color: white;
}
