* {
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  color:#1d1d1d;
}

h1{
  margin-bottom: 24pt;
}

h2{
  margin-bottom: 18pt;
}

h2 .error {
  font-size: 100pt;
}

h3{
  margin-bottom: 15pt;
}

a {
  text-decoration: none;
  transition: 0.1s ease-in;
}

a:hover{
  color: coral
}

p{
  line-height: 1.8rem;
}